# IDE & System Related Files #
.buildpath
.editorconfig
.project
.settings
.DS_Store
.idea
.vscode

# Local System Files (i.e. cache, logs, etc.) #
/administrator/cache
/administrator/logs
/cache
/tmp
